:root {
  --text: rgb(189, 189, 189);
  --fon: rgb(11, 11, 11);
}

body {
	background-color: var(--fon);
  font-family: 'Neucha', sans-serif;
  color: var(--text);
  font-size: 1.2rem;
}

h1 {
	text-align: center;
  font-family: 'Neucha', sans-serif;
}

h2 {
	text-align: center;
  font-family: 'Neucha', sans-serif;
}

h3 {
	text-align: center;
  font-family: 'Neucha', sans-serif;
}

hr {
	width: 15rem;
	border-top: 1px solid var(--text);
}

a {
	color: var(--text);
	text-decoration: underline;
	outline: none;
}

blockquote {
    border-left: solid 0.2rem var(--text);
    padding-left: 1rem;
}

.content {
	font-size: 1.2rem;
	font-family: 'Neucha', sans-serif;
	color: var(--text);
	padding-bottom: 6rem;
}

.content:hover {
	color: var(--text);
}

.cross {
	color: var(--text);
	text-decoration: underline;
}

.cross:hover {
	color: var(--red);
}

.link {
	color: var(--text);
	text-decoration: underline;
}

.link:hover {
	color: var(--blue);
}

.level {
  font-size: 1.2rem;
  font-family: 'Neucha', sans-serif;
  color: var(--text);
  text-align: center;
  cursor: pointer;
  border-bottom: solid 1px var(--text);
  border-top: solid 1px var(--text);
  margin-bottom: 1rem;
  margin-top: 1rem;
  padding: 0.5rem;
}

.level-active {
  background-color: rgb(33, 33, 33);
}
