@import url('https://fonts.googleapis.com/css2?family=Neucha&display=swap');
:root {
    --font: 'Neucha', sans-serif;
    --text: rgb(189, 189, 189);
    --fon-header: rgb(21, 21, 21);
    --fon: rgb(11, 11, 11);
}
