@font-face {
  font-family: 'everson';
  src: url('../fonts/EversonMono.ttf');
}

body {
	background: #000;
  font-family: 'Marmelad', sans-serif;
  color: var(--white);
  font-size: 1.2rem;
}

h1 {
	text-align: center;
	font-family: 'Literata', serif;
	color: var(--white);
}

h2 {
	text-align: center;
	font-family: 'Literata', serif;
	color: var(--white);
}

h3 {
	text-align: center;
	font-family: 'Literata', serif;
	color: var(--white);
}

hr {
	width: 15rem;
	border-top: 1px solid #fff;
}

a {
	outline: none;
}

.everson {
	font-family: 'everson';
	font-size: 2rem;
}

.content {
	font-size: 1.2rem;
	font-family: 'Comfortaa', cursive;
	color: var(--white);
}

.content:hover {
	color: var(--white);
}

.cross {
	color: var(--white);
	text-decoration: underline;
}

.cross:hover {
	color: var(--red);
}

.link {
	color: var(--white);
	text-decoration: underline;
}

.link:hover {
	color: var(--blue);
}
