:root {
  --text: rgb(189, 189, 189);
  --fon: rgb(11, 11, 11);
}

@font-face {
  font-family: 'everson';
  src: url('../fonts/EversonMono.ttf');
}

body {
	background-color: var(--fon);
  font-family: 'Marmelad', sans-serif;
  color: var(--text);
  font-size: 1.2rem;
}

h1 {
	text-align: center;
	font-family: 'Literata', serif;
}

h2 {
	text-align: center;
	font-family: 'Literata', serif;
}

h3 {
	text-align: center;
	font-family: 'Literata', serif;
}

hr {
	width: 15rem;
	border-top: 1px solid var(--text);
}

a {
	outline: none;
}

.everson {
	font-family: 'everson';
	font-size: 2rem;
}

.content {
	font-size: 1.2rem;
	font-family: 'Comfortaa', cursive;
	color: var(--text);
}

.content:hover {
	color: var(--text);
}

.cross {
	color: var(--text);
	text-decoration: underline;
}

.cross:hover {
	color: var(--red);
}

.link {
	color: var(--text);
	text-decoration: underline;
}

.link:hover {
	color: var(--blue);
}
